<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <br>
  <h1 class="text-center">
    Rico's Weather Forecast
  </h1><br>
    <h3 class="text-center">
      <a [routerLink]="['/showsea']">Seattle Wa</a> | 
      <a [routerLink]="['/sanjose']">San Jose CA</a> | 
      <a [routerLink]="['/burbank']">Burbank CA</a> | 
      <a [routerLink]="['/dallas']">Dallas TX</a> | 
      <a [routerLink]="['/dc']">Washington DC</a> | 
      <a [routerLink]="['/chicago']">Chicago IL</a> 
    </h3>
    <router-outlet></router-outlet>
</div>


